## Import Libraries

In [5]:
import json
import requests
import pandas as pd

## I. JSON Handling with Requests

In [9]:
response = requests.get('https://api.covid19api.com/summary').text
response_info = json.loads(response)        # Convert JSON to Python dictionary
print(type(response_info))                  # <class 'dict'>

response_info = requests.get('https://api.covid19api.com/summary').json()
print(type(response_info))                  # <class 'dict'>

<class 'dict'>
<class 'dict'>

In [10]:
country_list = []
for country_info in response_info['Countries']:
    country_list.append([country_info['Country'], country_info['TotalConfirmed']])
for z in country_list: print(z)

['Afghanistan', 153375]
['Albania', 150997]
['Algeria', 198004]
['Andorra', 15055]
['Angola', 48656]
['Antigua and Barbuda', 1870]
['Argentina', 5203802]
['Armenia', 245025]
['Australia', 63155]
['Austria', 696905]
['Azerbaijan', 442872]
['Bahamas', 18694]
['Bahrain', 273008]
['Bangladesh', 1514456]
['Barbados', 5349]
['Belarus', 490926]
['Belgium', 1192008]
['Belize', 16750]
['Benin', 16946]
['Bhutan', 2596]
['Bolivia', 492680]
['Bosnia and Herzegovina', 216124]
['Botswana', 159317]
['Brazil', 20890779]
['Brunei Darussalam', 3093]
['Bulgaria', 462033]
['Burkina Faso', 13841]
['Burundi', 12585]
['Cambodia', 95300]
['Cameroon', 84210]
['Canada', 1265614]
['Cape Verde', 35928]
['Central African Republic', 11296]
['Chad', 4996]
['Chile', 1641091]
['China', 107212]
['Colombia', 4918649]
['Comoros', 4086]
['Congo (Brazzaville)', 13588]
['Congo (Kinshasa)', 55307]
['Costa Rica', 472315]
['Croatia', 377838]
['Cuba', 689674]
['Cyprus', 115046]
['Czech Republic', 1680559]
["CÃ´te d'Ivoire", 56855]
['Denmark', 350347]
['Djibouti', 11777]
['Dominica', 1832]
['Dominican Republic', 351738]
['Ecuador', 503767]
['Egypt', 290027]
['El Salvador', 96067]
['Equatorial Guinea', 9760]
['Eritrea', 6648]
['Estonia', 143788]
['Ethiopia', 314984]
['Fiji', 47865]
['Finland', 130102]
['France', 6921275]
['Gabon', 26079]
['Gambia', 9736]
['Georgia', 564837]
['Germany', 4014858]
['Ghana', 120452]
['Greece', 599951]
['Grenada', 1238]
['Guatemala', 487898]
['Guinea', 29842]
['Guinea-Bissau', 5902]
['Guyana', 26510]
['Haiti', 20977]
['Holy See (Vatican City State)', 27]
['Honduras', 343807]
['Hungary', 813040]
['Iceland', 11032]
['India', 33027621]
['Indonesia', 4129020]
['Iran, Islamic Republic of', 5129407]
['Iraq', 1917292]
['Ireland', 356819]
['Israel', 1117596]
['Italy', 4571440]
['Jamaica', 71344]
['Japan', 1575383]
['Jordan', 801288]
['Kazakhstan', 888188]
['Kenya', 240172]
['Kiribati', 2]
['Korea (South)', 261778]
['Kuwait', 410342]
['Kyrgyzstan', 176473]
['Lao PDR', 15933]
['Latvia', 144518]
['Lebanon', 607400]
['Lesotho', 14395]
['Liberia', 5727]
['Libya', 315418]
['Liechtenstein', 3322]
['Lithuania', 302624]
['Luxembourg', 76102]
['Macedonia, Republic of', 180045]
['Madagascar', 42884]
['Malawi', 60821]
['Malaysia', 1844835]
['Maldives', 81979]
['Mali', 14939]
['Malta', 36475]
['Marshall Islands', 4]
['Mauritania', 34204]
['Mauritius', 11181]
['Mexico', 3428384]
['Micronesia, Federated States of', 1]
['Moldova', 270219]
['Monaco', 3234]
['Mongolia', 236079]
['Montenegro', 118104]
['Morocco', 884085]
['Mozambique', 147923]
['Myanmar', 415416]
['Namibia', 125610]
['Nepal', 769271]
['Netherlands', 1954233]
['New Zealand', 3793]
['Nicaragua', 11735]
['Niger', 5882]
['Nigeria', 195511]
['Norway', 167265]
['Oman', 302668]
['Pakistan', 1182918]
['Palau', 2]
['Palestinian Territory', 353732]
['Panama', 459844]
['Papua New Guinea', 17926]
['Paraguay', 458844]
['Peru', 2155034]
['Philippines', 2080984]
['Poland', 2890484]
['Portugal', 1047047]
['Qatar', 233567]
['Republic of Kosovo', 152169]
['Romania', 1106008]
['Russian Federation', 6912375]
['Rwanda', 89768]
['Saint Kitts and Nevis', 1148]
['Saint Lucia', 9149]
['Saint Vincent and Grenadines', 2371]
['Samoa', 3]
['San Marino', 5345]
['Sao Tome and Principe', 2683]
['Saudi Arabia', 545243]
['Senegal', 73188]
['Serbia', 779723]
['Seychelles', 20230]
['Sierra Leone', 6374]
['Singapore', 68660]
['Slovakia', 396080]
['Slovenia', 270307]
['Solomon Islands', 20]
['Somalia', 17832]
['South Africa', 2819945]
['South Sudan', 11500]
['Spain', 4877755]
['Sri Lanka', 462767]
['Sudan', 37886]
['Suriname', 30855]
['Swaziland', 44176]
['Sweden', 1130525]
['Switzerland', 785696]
['Syrian Arab Republic (Syria)', 28543]
['Taiwan, Republic of China', 16019]
['Tajikistan', 17313]
['Tanzania, United Republic of', 1367]
['Thailand', 1280534]
['Timor-Leste', 17618]
['Togo', 22562]
['Trinidad and Tobago', 45714]
['Tunisia', 674047]
['Turkey', 6412247]
['Uganda', 120581]
['Ukraine', 2397758]
['United Arab Emirates', 723263]
['United Kingdom', 7010540]
['United States of America', 39944987]
['Uruguay', 385660]
['Uzbekistan', 159871]
['Vanuatu', 4]
['Venezuela (Bolivarian Republic)', 339255]
['Viet Nam', 524307]
['Yemen', 8108]
['Zambia', 207114]
['Zimbabwe', 125550]

In [11]:
country_df = pd.DataFrame(data=country_list, columns=['Country', 'Total_Confirmed'])
country_df.head(10)

               Country  Total_Confirmed
0          Afghanistan           153375
1              Albania           150997
2              Algeria           198004
3              Andorra            15055
4               Angola            48656
5  Antigua and Barbuda             1870
6            Argentina          5203802
7              Armenia           245025
8            Australia            63155
9              Austria           696905

## II. Create a session object

In [12]:
s = requests.Session()
s.get('https://httpbin.org/cookies/set/sessioncookie/allen')
r = s.get('https://httpbin.org/cookies')
print("\n",r.json()['cookies'])
r.close()

 {'sessioncookie': 'allen'}